<nav
  class="navbar navbar-expand navbar-dark bg-dark"
  aria-label="Second navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MPC multi party computation</a>
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- about -->
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li>
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
